$primary-color:#00ADA9;

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

.container {
    margin: auto;
    width: 85%;
    max-width: 1600px;
    // background-color: rgb(255, 204, 110);
}

// 區塊相關樣式
.row {
    display: flex;
    flex-wrap: wrap; // 換行
    justify-content: space-between;
}

// ========================================================
// 頁首區
// ========================================================

// header {
//     background-color: rgb(252, 252, 175);
//     height: 80px;
// }

// // LOGO start
// header>.container .logo{
// padding-top: 10px;
// width: 12%;
// }
// // LOGO end

// 三大頁面按鈕start

header>.container nav>ul>li {
    // margin-right: 40px;
    margin-left: 40px;
    // padding-top: 10px;
    text-align: center;
}

header>.container nav>ul>li>a {
    line-height: 60px;
    color: $primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
}

// header>.container .sign img{
//     width: 80px;
//     margin-left: 10px;
// }
header>.container .sign {
    display: flex;
    flex-wrap: wrap;
}

header>.container .sign a {
    width: 100px;
    // height: 50px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    margin-right: 10px;
    // padding: 0 5px;
    max-width: 100px;
}

header>.container .sign a.sign_in {
    border: 2px solid $primary-color;
    box-sizing: border-box;
    color: $primary-color;
}

header>.container .sign a.sign_up {
    background-color: #FF668B;
    color: white;
}

// 三大頁面按鈕end

//  超過1008px以上執行 start
@media(min-width:1008px) {
    header>.container>nav {
        width: 100%;
    }

    header>.container nav>ul {
        display: flex;
        justify-content: center;
    }

    header>.container .row {
        align-items: center
    }

    header>.container .logo {
        padding-top: 5px;
        width: 180px;
    }
}

// 超過1008px以上執行 end

//  小於1007px以下執行 start
@media (max-width:1007px) {
    header>.container .logo {
        padding-top: 8px;
        width: 130px;
    }

    header>.container .row {
        align-items: center
    }

    header>.container .sign {
        display: none;
    }
}

//  小於1007px以下執行 end


// =======================================
// icon-menu
// =======================================
// 超過1008px以上執行 start
@media (min-width:1008px) {
    .icon-menu {
        display: none;
    }
}

// min-width 1008px end

// .flex-space-between {
//     justify-content: space-between;
// } //不知道用途

// 小於1007px以下執行 start
@media (max-width:1007px) {

    .icon-menu {
        // width: 15%;
        display: block;
        // line-height: 60px;
    }

    header {
        position: relative;
    }

    header>.container nav {
        width: 100%;
        position: absolute;
        top: 52px;
        background-color: blanchedalmond;
        // display: none;
        // 需要蓋板的話打開以下程式碼
        // position: fixed;
        // top:0px;
        // height: 100vh;
        z-index: 999;

        // 需要從上往下出現導覽時打開以下程式碼
        // height:0px;
        // overflow: hidden;
    }

    nav {
        // viewport width
        left: 0px;
        // 這一行等二層選單做完之後在打開
        left: -100vw;
        transition: all .3s;
    }

    // 之後搭配javascript要改寫選取器的寫法
    .icon-menu:hover+nav {
        left: 0px;

        // 需要從上往下出現導覽時打開以下程式碼
        // height: 244px;
    }

    header>.container nav.active {
        display: block;
    }

    header>.container nav>ul {
        display: block;
    }

    header>.container nav>ul>li {
        text-align: center;
        width: 100%;
        border-bottom: 1px solid $primary-color;
    }

    header>.container nav>ul>li>a {
        display: block;
    }
}

// 小於1007px以下執行 end

// ===================================
// top_banner
// ===================================

picture .img_banner {
    width: 100%;
}

.banner {
    position: relative;
}

.banner a {
    display: block;
    width: 20%;
    max-width: 300px;
    min-width: 100px;
    padding: 10px;
    background-color: #FF668B;
    text-align: center;
    border-radius: 20px;
    color: white;

    position: absolute;
    bottom: 20%;
    left: 15%;
}

// 小於1007px以下執行 start
@media (max-width:767px) {
    .banner a {
        position: absolute;
        bottom: 8%;
        left: 50%;
        transform: translate(-50%);
    }
}

// =================================
// section_共用_獲得
// =================================
section {
    background-color: rgb(255, 255, 220);
}

h3 {
    padding: 24px 0px;
    /*上右下左*/
}

// 圖片相關樣式
.img-fluid {
    width: 100%;
}

.img-rounded {
    border-radius: 8px;
    // 圖片圓角
}

.img.circle {
    border-radius: 100%;
    // 圖片圓形
}

// 文字相關樣式
.text-center {
    text-align: center;
    // 文字置中
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

// 超過768px以上執行 start
@media (min-width:768px) {
    .col-lg-3 {
        width: calc(100% / 4 - 30px);
        margin: 0px 15px 0px 15px;
        /*上右下左*/
    }

    .col-lg-4 {
        width: calc(100% / 3 - 30px);
        margin: 0px 15px 0px 15px;
        /*上右下左*/
    }
}

// min-width 768px end

// 小於767px以下執行 start
@media (max-width:767px) {
    .col-md-6 {
        width: calc(100% / 2 - 30px);
        margin: 0px 15px 0px 15px;
        /*上右下左*/
    }

    // .col-9 {
    //     width: calc(100% / 1.33333 - 30px);
    //     margin: 0px 15px 40px 15px;
    //     /*上右下左*/
    // }

    // .col-sm-12 {
    //     width: calc(100% / 1 - 30px);
    //     margin: 0px 15px 40px 15px;
    //     /*上右下左*/
    // }
}

// 小於767px以下執行 end

// 小於428px以下執行 start
@media (max-width:428px) {
    .col-sm-12 {
        width: calc(100% / 1 - 30px);
        margin: 0px 15px 40px 15px;
        /*上右下左*/
    }
}
// 小於428px以下執行 end

// ==================================
// section_加入讀書會
// ==================================

section img {
    width: 50%;
    padding: 10px;
}

section a {
    color: black;
}

section .group{
    background-color: #fff;
    margin: 15px auto;
    border-radius: 5px;
}

section p.morebtn {
    display: block;
    background-color: #FF668B;
    color: white;
    width: 10%;
    max-width: 200px;
    min-width: 100px;
    padding: 10px;
    line-height: 15px;
    border-radius: 20px;
    margin: 10px auto;
}

section a.bigbtn {
    display: block;
    width: 20%;
    max-width: 300px;
    min-width: 100px;
    padding: 10px;
    background-color: #FF668B;
    text-align: center;
    border-radius: 20px;
    color: white;
    margin: 24px auto;
}

// ===================================
// contect共用
// ===================================

contect p {
    width: 100%;
}

contect a {
    display: block;
    width: 20%;
    max-width: 300px;
    min-width: 100px;
    padding: 10px;
    background-color: #FF668B;
    text-align: center;
    border-radius: 20px;
    color: white;
    margin: 24px auto;
}

/*上右下左*/

// ===================================
// contect_心得回饋
// ===================================
contect .row {
    margin: 0 0 24px 0;
}

contect .row .order {
    align-items: center
}

contect .order img {
    width: 10%;
}

contect .order p {
    width: 80%;
    // max-width: 80%;
    margin: auto 0;
    // font-size: 14pt;
    // 字大小
}

// ===================================
// contect_書聚記錄
// ===================================

// 768px以上 start
@media(min-width:768px) {
    contect img {
        width: 30%;
    }
}

// 768px以上 end

// 767px以下 start
@media(max-width:767px) {
    contect img {
        width: 100%;
        // margin: 20px 0 0 0;
        /*上右下左*/
    }
}

// 767px以下 end

contect .contect_word {
    margin: auto 0;
    // 上下/左右
    // align-items: center
}

// =================================
// footer
// =================================
footer {
    background-color: rgb(255, 255, 220);
}

dt {
    font-size: 1.2em;
    margin: 10px auto;
}

dd {
    margin-bottom: 4px;
}

dd>a {
    color: black;
}

.down {
    background-color: rgb(255, 255, 155);
    padding: 10px;
}

.down .row {
    align-items: center
}

.down .icon {
    margin: 10px 0 0 0;
}

.down a {
    margin: 0 10px;
}

@media (max-width:767px) {
    .down .row {
        display: block;
        // margin: 10 auto;
        // display: flex;
        flex-wrap: wrap;
    }

    //怪
    .down .row .icon {
        display: flex;
        justify-content: center;
        // margin: 0 auto;
        // width: max-content;
    }

    .down p {
        text-align: center
    }

    .down .icon img {
        width: 32px;
    }
}