@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  width: 85%;
  max-width: 1600px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header > .container nav > ul > li {
  text-align: center;
}

header > .container nav > ul > li > a {
  line-height: 60px;
  color: #00ADA9;
  font-size: 1.2em;
  letter-spacing: 2px;
}

@media (min-width: 1008px) {
  header > .container > nav {
    width: 100%;
  }

  header > .container nav > ul {
    display: flex;
    justify-content: center;
  }

  header > .container .row {
    align-items: center;
  }

  header > .container .logo {
    padding-top: 5px;
    width: 180px;
  }

  .phone_sign {
    display: none;
  }

  header > .container nav > ul > li {
    margin-left: 40px;
  }

  header > .container .sign {
    display: flex;
    flex-wrap: wrap;
  }

  header > .container .sign a {
    width: 100px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    margin-right: 10px;
    max-width: 100px;
  }

  header > .container .sign a.sign_in {
    border: 2px solid #00ADA9;
    box-sizing: border-box;
    color: #00ADA9;
  }

  header > .container .sign a.sign_up {
    background-color: #FF668B;
    color: white;
  }
}
@media (max-width: 1007px) {
  header > .container .logo {
    padding-top: 8px;
    width: 130px;
  }

  header > .container .row {
    align-items: center;
  }

  header > .container .sign {
    display: none;
  }
}
@media (min-width: 1008px) {
  .icon-menu {
    display: none;
  }
}
@media (max-width: 1007px) {
  .icon-menu {
    display: block;
  }

  header {
    position: relative;
  }

  header > .container nav {
    width: 100%;
    position: absolute;
    top: 52px;
    background-color: blanchedalmond;
    z-index: 999;
  }

  nav {
    left: 0px;
    left: -100vw;
    transition: all 0.3s;
  }

  .icon-menu:hover + nav {
    left: 0px;
  }

  header > .container nav.active {
    display: block;
  }

  header > .container nav > ul {
    display: block;
  }

  header > .container nav > ul > li {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #00ADA9;
  }

  header > .container nav > ul > li > a {
    display: block;
  }
}
picture .img_banner {
  width: 100%;
  vertical-align: top;
}

.banner {
  position: relative;
}

.banner a {
  display: block;
  width: 20%;
  max-width: 300px;
  min-width: 100px;
  padding: 10px;
  background-color: #FF668B;
  text-align: center;
  border-radius: 20px;
  color: white;
  position: absolute;
  bottom: 20%;
  left: 15%;
}

@media (max-width: 767px) {
  .banner a {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%);
  }
}
section {
  background-color: #ffffdc;
  padding: 24px 0px;
}

h3 {
  text-align: center;
  /*上右下左*/
}

section p {
  text-align: center;
}

section p.below {
  padding: 0px 0px 24px 0px;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.img.circle {
  border-radius: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

@media (min-width: 768px) {
  .col-lg-3 {
    width: calc(100% / 4 - 30px);
    margin: 0px 15px 0px 15px;
    /*上右下左*/
  }

  .col-lg-4 {
    width: calc(100% / 3 - 30px);
    margin: 0px 15px 0px 15px;
    /*上右下左*/
  }
}
@media (max-width: 767px) {
  .col-md-6 {
    width: calc(100% / 2 - 30px);
    margin: 0px 15px 0px 15px;
    /*上右下左*/
  }
}
@media (max-width: 428px) {
  .col-sm-12 {
    width: calc(100% / 1 - 30px);
    margin: 0px 15px 40px 15px;
    /*上右下左*/
  }
}
section img {
  width: 50%;
  padding: 10px;
}

section a {
  color: black;
}

section p {
  margin: 10px 0 0 0;
}

section .group {
  margin: 15px auto;
  border-radius: 5px;
}

section p.morebtn {
  display: block;
  background-color: #FF668B;
  color: white;
  width: 10%;
  max-width: 200px;
  min-width: 100px;
  padding: 10px;
  line-height: 15px;
  border-radius: 20px;
  margin: 10px auto;
}

section a.bigbtn {
  display: block;
  width: 20%;
  max-width: 300px;
  min-width: 100px;
  padding: 10px;
  background-color: #FF668B;
  text-align: center;
  border-radius: 20px;
  color: white;
  margin: 0 auto;
}

contect {
  display: block;
  padding: 24px 0px;
}

contect p {
  width: 100%;
  margin: 10px 0 0 0;
}

contect a {
  display: block;
  width: 20%;
  max-width: 300px;
  min-width: 100px;
  padding: 10px;
  background-color: #FF668B;
  text-align: center;
  border-radius: 20px;
  color: white;
  margin: 0 auto;
}

/*上右下左*/
contect .row {
  margin: 0 0 24px 0;
}

contect .row .order {
  align-items: center;
}

contect .order img {
  width: 10%;
}

contect .order p {
  width: 80%;
  margin: auto 0;
}

@media (min-width: 768px) {
  contect img {
    width: 30%;
  }
}
@media (max-width: 767px) {
  contect img {
    width: 100%;
    /*上右下左*/
  }
}
contect .contect_word {
  margin: auto 0;
}

footer {
  background-color: #00adaa25;
}

dt {
  font-size: 1.2em;
  margin: 10px auto;
}

dd {
  margin-bottom: 4px;
}

dd > a {
  color: black;
}

.down {
  background-color: #00adaa25;
  padding: 5px;
}

.down .row {
  align-items: center;
}

.down a {
  margin: 0 10px;
}

.down .icon img {
  width: 32px;
}

@media (max-width: 767px) {
  .down .row {
    display: block;
    flex-wrap: wrap;
  }

  .down .row .icon {
    display: flex;
    justify-content: center;
  }

  .down p {
    text-align: center;
  }

  .down .icon img {
    width: 24px;
  }

  .down .icon {
    margin: 10px 0 0 0;
  }
}
* {
  box-sizing: border-box;
}

.search {
  width: 60%;
  max-width: 1000px;
  margin: 20px auto;
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 100%;
  height: 32px;
  border: none;
  background-color: #ffffdc;
}

.search-btn {
  width: 36px;
  height: 32px;
  background-color: #ffff82;
  color: black;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.sllick img {
  margin: auto;
}

.slick-next:before, .slick-prev:before {
  color: #FF668B;
  opacity: 1;
}