@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  width: 85%;
  max-width: 1600px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header > .container nav > ul > li {
  margin-left: 40px;
  text-align: center;
}

header > .container nav > ul > li > a {
  line-height: 60px;
  color: #00ADA9;
  font-size: 1.2em;
  letter-spacing: 2px;
}

header > .container .sign {
  display: flex;
  flex-wrap: wrap;
}

header > .container .sign a {
  width: 100px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
  margin-right: 10px;
  max-width: 100px;
}

header > .container .sign a.sign_in {
  border: 2px solid #00ADA9;
  box-sizing: border-box;
  color: #00ADA9;
}

header > .container .sign a.sign_up {
  background-color: #FF668B;
  color: white;
}

@media (min-width: 1008px) {
  header > .container > nav {
    width: 100%;
  }

  header > .container nav > ul {
    display: flex;
    justify-content: center;
  }

  header > .container .row {
    align-items: center;
  }

  header > .container .logo {
    padding-top: 5px;
    width: 180px;
  }
}
@media (max-width: 1007px) {
  header > .container .logo {
    padding-top: 8px;
    width: 130px;
  }

  header > .container .row {
    align-items: center;
  }

  header > .container .sign {
    display: none;
  }
}
@media (min-width: 1008px) {
  .icon-menu {
    display: none;
  }
}
@media (max-width: 1007px) {
  .icon-menu {
    display: block;
  }

  header {
    position: relative;
  }

  header > .container nav {
    width: 100%;
    position: absolute;
    top: 52px;
    background-color: blanchedalmond;
    z-index: 999;
  }

  nav {
    left: 0px;
    left: -100vw;
    transition: all 0.3s;
  }

  .icon-menu:hover + nav {
    left: 0px;
  }

  header > .container nav.active {
    display: block;
  }

  header > .container nav > ul {
    display: block;
  }

  header > .container nav > ul > li {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #00ADA9;
  }

  header > .container nav > ul > li > a {
    display: block;
  }
}
picture .img_banner {
  width: 100%;
}

.banner {
  position: relative;
}

.banner a {
  display: block;
  width: 20%;
  max-width: 300px;
  min-width: 100px;
  padding: 10px;
  background-color: #FF668B;
  text-align: center;
  border-radius: 20px;
  color: white;
  position: absolute;
  bottom: 20%;
  left: 15%;
}

@media (max-width: 767px) {
  .banner a {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%);
  }
}
section {
  background-color: #ffffdc;
}

h3 {
  padding: 24px 0px;
  /*上右下左*/
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.img.circle {
  border-radius: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

@media (min-width: 768px) {
  .col-lg-3 {
    width: calc(100% / 4 - 30px);
    margin: 0px 15px 0px 15px;
    /*上右下左*/
  }

  .col-lg-4 {
    width: calc(100% / 3 - 30px);
    margin: 0px 15px 0px 15px;
    /*上右下左*/
  }
}
@media (max-width: 767px) {
  .col-md-6 {
    width: calc(100% / 2 - 30px);
    margin: 0px 15px 0px 15px;
    /*上右下左*/
  }
}
section img {
  width: 50%;
}

section a {
  color: black;
}

section a.btn {
  display: block;
  background-color: #FF668B;
  color: white;
  width: 10%;
  max-width: 200px;
  min-width: 100px;
  height: 20%;
  padding: 10px;
  line-height: 15px;
  border-radius: 20px;
}

section a.bigbtn {
  display: block;
  width: 20%;
  max-width: 300px;
  min-width: 100px;
  padding: 10px;
  background-color: #FF668B;
  text-align: center;
  border-radius: 20px;
  color: white;
  margin: 24px auto;
}

contect p {
  width: 100%;
}

contect a {
  display: block;
  width: 20%;
  max-width: 300px;
  min-width: 100px;
  padding: 10px;
  background-color: #FF668B;
  text-align: center;
  border-radius: 20px;
  color: white;
  margin: 24px auto;
}

/*上右下左*/
contect .row {
  margin: 0 0 24px 0;
}

contect .row .order {
  align-items: center;
}

contect .order img {
  width: 10%;
}

contect .order p {
  width: 80%;
  margin: auto 0;
}

@media (min-width: 768px) {
  contect img {
    width: 30%;
  }
}
@media (max-width: 767px) {
  contect img {
    width: 100%;
    /*上右下左*/
  }
}
contect .contect_word {
  margin: auto 0;
}

footer {
  background-color: #ffffdc;
}

dt {
  font-size: 1.2em;
  margin: 10px auto;
}

dd {
  margin-bottom: 4px;
}

dd > a {
  color: black;
}

.down {
  background-color: #ffff9b;
  padding: 10px;
}

.down .row {
  align-items: center;
}

.down .icon {
  margin: 10px 0 0 0;
}

.down a {
  margin: 0 10px;
}

@media (max-width: 767px) {
  .down .row {
    display: block;
    flex-wrap: wrap;
  }

  .down .row .icon {
    display: flex;
    justify-content: center;
  }

  .down p {
    text-align: center;
  }

  .down .icon img {
    width: 32px;
  }
}