doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 讀書會｜書箱視家
  link(rel='stylesheet' href='public/css/styles.css')
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    //- header start ------------------------------------------------------
body 
    include header.pug
    //- header end --------------------------------------------------------
    .banner 
        picture
            source(media='(min-width:768px)' srcset='public/images/bookclub_pc.png')
            img.img_banner(src='public/images/bookclub_phone.png' alt='')
        a(href='#') 我要揪團
    //- search start -----------------------------------------------------------------

    .wrap
        .search
            input#search.search-bar(type='text' name='search' placeholder='搜尋讀書會')
            button.search-btn
                i.fa.fa-search
    //- section start -----------------------------------------------------------------
    section 
        .container 
            h3 加入讀書會
            .row.text-center 
                a.col-sm-12.col-md-6.col-lg-3.group(href="#")
                    img(src="public/images/book_back.png", alt="")
                    h4 逆向工程
                    p 主揪：丹丹
                    p.morebtn 更多資訊
                a.col-sm-12.col-md-6.col-lg-3.group(href="#")
                    img(src="public/images/book_think.png", alt="")
                    h4 火箭科學家
                    p 主揪：Marty
                    p.morebtn 更多資訊
                a.col-sm-12.col-md-6.col-lg-3.group(href="#")
                    img(src="public/images/book_talk.png", alt="")
                    h4 溝通的方法
                    p 主揪：Gimmy
                    p.morebtn 更多資訊
                a.col-sm-12.col-md-6.col-lg-3.group(href="#")
                    img(src="public/images/book_habit.png", alt="")
                    h4 原子習慣
                    p 主揪：彥成
                    p.morebtn 更多資訊
            a.bigbtn(href="#") 更多讀書會
    //- section end -----------------------------------------------------------------
    include footer.pug