header 
    .container
        .row.flex-space-between
            .logo  
                a(href='index.html')
                    img(src='public/images/logo.svg' alt='')
            a.icon-menu(href="#") 
                img(src="public/images/icon_Menu.svg", alt="")
            nav
                ul 
                    li
                        a(href="library.html") 圖書館
                    li
                        a(href="bookclub.html") 讀書會
                    li
                        a(href="study.html") 我的書房
                    li.phone_personal 
                        a(href="sign_up.html") 通知
                    li.phone_personal 
                        a(href="sign_in.html") 個人
            .personal
                a.bell(href="") 
                    img(src="public/images/icon_Bell.svg", alt="")
                a.user(href="") 
                    img(src="public/images/icon_User.svg", alt="")