doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 書箱視家
  link(rel='stylesheet' href='public/css/styles.css')

//- header start ------------------------------------------------------
body 
    header 
        .container
            .row.flex-space-between
                .logo  
                    a(href='index.html')
                        img(src='public/images/logo.svg' alt='')
                a.icon-menu(href="#") 
                    img(src="public/images/icon_Menu.svg", alt="")
                nav
                    ul 
                        li.phone_sign 
                            a(href="sign_up.html") 註冊
                        li.phone_sign 
                            a(href="sign_in.html") 登入
                        li
                            a(href="library.html") 圖書館
                        li
                            a(href="bookclub.html") 讀書會
                        li
                            a(href="study.html") 我的書房
                        
                .sign
                    a.sign_in(href="#") 登入
                    a.sign_up(href="#") 註冊
    //- header end -------------------------------------------------------- 
    .banner 
        picture
            source(media='(min-width:768px)' srcset='public/images/banner_pc.png')
            img.img_banner(src='public/images/banner_phone.png' alt='')
        a.btn(href='#') 加入我們

    //- content start
    section 
        .container
            h3 透過讀書會，你可以...
            .row.text-center            
                .col-sm-12.col-md-6.col-lg-4
                    img.img-fluid.img-rounded(src="public/images/1talk.svg", alt="")
                    p.below 獲得不同經驗與觀點
                .col-sm-12.col-md-6.col-lg-4
                    img.img-fluid.img-rounded(src="public/images/2plan.svg", alt="")
                    p.below 有計畫的閱讀書籍
                .col-sm-12.col-md-6.col-lg-4
                    img.img-fluid.img-rounded(src="public/images/3friend.svg", alt="")
                    p.below 認識志同道合的朋友
                .col-sm-12.col-md-6.col-lg-4
                    img.img-fluid.img-rounded(src="public/images/4light.svg", alt="")
                    p.below 讓閱讀變成一件有趣的事情
                .col-sm-12.col-md-6.col-lg-4
                    img.img-fluid.img-rounded(src="public/images/5life.svg", alt="")
                    p.below 將知識落實在生活中
                .col-sm-12.col-md-6.col-lg-4
                    img.img-fluid.img-rounded(src="public/images/6eat.svg", alt="")
                    p.below 不只讀書，還有更多活動
    contect 
        .container
            h3 心得回饋
            .row.order  
                    img(src="public/images/writegirl.svg", alt="")
                    p 以前非常愛買書，但都買了而沒看，透過讀書會，我竟然默默地將書一本一本看完，也因為讀書會跟大家的交流討論，獲得了不同面向的想法，加深我對該本書的印象，讀書會真的是很棒的體驗，未來還想繼續參加。
    section 
        .container 
            h3 加入讀書會
            .row.text-center 
                a.col-sm-12.col-md-6.col-lg-3.group(href="#")
                    img(src="public/images/book_back.png", alt="")
                    h4 逆向工程
                    p 主揪：丹丹
                    p.morebtn 更多資訊
                a.col-sm-12.col-md-6.col-lg-3.group(href="#")
                    img(src="public/images/book_think.png", alt="")
                    h4 火箭科學家
                    p 主揪：Marty
                    p.morebtn 更多資訊
                a.col-sm-12.col-md-6.col-lg-3.group(href="#")
                    img(src="public/images/book_talk.png", alt="")
                    h4 溝通的方法
                    p 主揪：Gimmy
                    p.morebtn 更多資訊
                a.col-sm-12.col-md-6.col-lg-3.group(href="#")
                    img(src="public/images/book_habit.png", alt="")
                    h4 原子習慣
                    p 主揪：彥成
                    p.morebtn 更多資訊
            a.bigbtn(href="#") 更多讀書會
    contect   
        .container 
            h3 書聚記錄
            .row 
                div.contect_word 
                    h4 火箭科學家
                    p 時間：2022.02.08-2022.04.22
                        br
                        |方式：導讀＋ＫＪ法
                        br
                        |成員：Marty、Gimmy、Kevin、Daivd、Willy、Elsa、Dan
                        br
                        |簡介：運用火箭科學家的9大策略，翻轉你的事業與人生。
                img(src='public/images/bookclub_pic.png' alt='')
            a(href="#") 查看更多
    section 
        .container 
            h3 如何進行？
            .row.text-center 
                .col-sm-12.col-md-6.col-lg-3
                    img.img-fluid.img-rounded(src="public/images/signup.png", alt="")
                    h4.text-center 1.加入會員
                    p.below 加入會員、填寫方便的時間，跟大家一起享受讀書的樂趣。
                .col-sm-12.col-md-6.col-lg-3
                    img.img-fluid.img-rounded(src="public/images/choose.png", alt="")
                    h4.text-center 2.選擇讀書會
                    p.below 在眾多讀書會中，挑選一本有興趣的書籍吧～
                        br
                        |沒有看到想讀的書，那我們就自己揪！
                .col-sm-12.col-md-6.col-lg-3
                    img.img-fluid.img-rounded(src="public/images/teamwork.png", alt="")
                    h4.text-center 3.一起共讀
                    p.below 確認時間方式都ＯＫ就按下加入按鈕，然後展開自己的讀書會旅程吧～
                .col-sm-12.col-md-6.col-lg-3
                    img.img-fluid.img-rounded(src="public/images/writedown.png", alt="")
                    h4.text-center 4.寫下心得
                    p.below 看完一本書，別忘了在圖書館留下你的寶貴經驗與心得，讓這些內容更為印象深刻，也為自己留下美好的紀念。
    contect
        .container 
            h3 讀書會的無限可能性，由你來創造。
            .row.text-center 
                p 你還在等甚麼，現在就跟我們一起，開始你的讀書會旅程吧。
            a(href="#") 加入我們
    footer 
        .container
            .row 
                //- img(src="public/images/logo.svg", alt="")
                dl.col-lg-4.text-center
                    dt 關於我們
                    dd
                        a(href='#') 平台介紹
                    dd
                        a(href='#') 服務條款
                    dd
                        a(href='#') 商業合作
                    dd
                        a(href='#') 意見回饋
                    dd
                        a(href='#') 聯絡我們
                dl.col-lg-4.text-center
                    dt 使用須知
                    dd
                        a(href='#') 如何開始
                    dd
                        a(href='#') 進行方式
                    dd
                        a(href='#') 書聚指南
                dl.col-lg-4.text-center
                    dt 常見問題
                    dd
                        a(href='#') 注意事項
                    dd
                        a(href='#') FAQ問答
        .down
            .container
                .row 
                    p.copyright copyright2022 bookclub 
                    .icon 
                        a(href="#") 
                            img(src="public/images/icon_line.svg", alt="")
                        a(href="#") 
                            img(src="public/images/icon_fb.svg", alt="")
                        a(href="#") 
                            img(src="public/images/icon_ig.svg", alt="")
                        a(href="#") 
                            img(src="public/images/icon_gmail.svg", alt="")