doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 圖書館｜書箱視家
  link(rel='stylesheet' href='public/css/styles.css')

//- header start ------------------------------------------------------
body 
    header 
        .container
            .row.flex-space-between
                .logo  
                    a(href='index.html')
                        img(src='public/images/logo.svg' alt='')
                a.icon-menu(href="#") 
                    img(src="public/images/icon_Menu.svg", alt="")
                nav
                    ul 
                        li.phone_sign 
                            a(href="sign_up.html") 註冊
                        li.phone_sign 
                            a(href="sign_in.html") 登入
                        li
                            a(href="library.html") 圖書館
                        li
                            a(href="bookclub.html") 讀書會
                        li
                            a(href="study.html") 我的書房
                        
                .sign
                    a.sign_in(href="#") 登入
                    a.sign_up(href="#") 註冊
    //- header end --------------------------------------------------------
    .banner 
        picture
            source(media='(min-width:768px)' srcset='public/images/library_pc.png')
            img.img_banner(src='public/images/library_phone.png' alt='')
        a(href='#') 發表筆記
    //- content start
    