doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 書箱視家
  link(rel='stylesheet' href='public/css/styles.css')

//- header start
body 
    header 
        .container
            .row.flex-space-between
                .logo  
                    a(href='index.html')
                        img(src='public/images/logo.svg' alt='')
                a.icon-menu(href="#") 
                    img(src="public/images/icon_Menu.svg", alt="")
                nav
                    ul 
                        li
                            a(href="library.html") 圖書館
                        li
                            a(href="bookclub.html") 讀書會
                        li
                            a(href="study.html") 我的書房
                .sign
                    a(href="#")
                        img(src="public/images/btn_sign in.svg", alt="")
                    a(href="#")
                        img(src="public/images/btn_sign up.svg", alt="")
    //- header end 
    .banner 
        picture
            source(media='(min-width:768px)' srcset='public/images/banner_pc.png')
            img.img_banner(src='public/images/banner_phone.png' alt='')
        a(href='#') 發表筆記
    //- content start
    